{% set dummy = form.prepare() %}
{{ form().openTag(form) | raw }}

    {% set currentPassword = form.get('currentPassword') %}
    <div class="form-group {% if currentPassword.getMessages() %}has-error{% endif %}">
        {% set dummy = currentPassword.setAttribute('class', 'form-control') %}
        {{ formLabel(currentPassword) }}
        {{ formElement(currentPassword) }}
    </div>

    {% set password = form.getBaseFieldset().get('password') %}
    <div class="form-group {% if password.getMessages() %}has-error{% endif %}">
        {% set dummy = password.setAttribute('class', 'form-control') %}
        {{ formLabel(password) }}
        {{ formElement(password) }}
    </div>

    {% set passwordConfirm = form.getBaseFieldset().get('passwordConfirm') %}
    <div class="form-group {% if passwordConfirm.getMessages() %}has-error{% endif %}">
        {% set dummy = passwordConfirm.setAttribute('class', 'form-control') %}
        {{ formLabel(passwordConfirm) }}
        {{ formElement(passwordConfirm) }}
    </div>

    {{ formElement(form.get('change_password_csrf')) }}

    {% set submit = form.get('submit') %}
    {% set dummy = submit.setAttribute('class', 'btn btn-lg btn-primary btn-block') %}
    {{ formSubmit(submit) }}

{{ form().closeTag() | raw }}
