<p><b>Please enter the email address associated with your account</b></p>

{% set dummy = form.prepare() %}
{{ form().openTag(form) | raw }}

    {% set email = form.get('email') %}
    <div class="form-group {% if email.getMessages() %}has-error{% endif %}">
        {% set dummy = email.setAttribute('class', 'form-control') %}
        {{ formElement(email) }}
    </div>

    {{ formElement(form.get('forgot_password_csrf')) }}

    {% set submit = form.get('submit') %}
    {% set dummy = submit.setAttribute('class', 'btn btn-lg btn-primary btn-block') %}
    {{ formSubmit(submit) }}

{{ form().closeTag() | raw }}
