{% extends '{{ layoutTemplate }}' %}

{% if showLabels is not defined %}
    {% set showLabels = false %}
{% endif %}

{% block title %}Sign-In{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5 col-md-offset-3">

            <h3>Sign In</h3>

            {{ flashMessagesPartial('dot-partial::alerts') }}

            {% set dummy = form.setAttribute('method', 'post') %}
            {% set dummy = form.prepare() %}

            {{ form().openTag(form) | raw }}
            {% include '@dot-form/form.html.twig' with {'form' : form, 'showLabels' : showLabels} only %}
            {{ form().closeTag() | raw }}

            {% if passwordRecoveryEnabled is defined and passwordRecoveryEnabled %}
            <div style="margin-top: 5px;">
                <a href="{{ path('user', {'action':'forgot-password'}) }}" >Forgot Password?</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}